# From more accurate data description

Load 'all_findings_expert_labels_test_individual_readers.csv' to df

In [57]:
import pandas as pd

raw_df = pd.read_csv('data/all_findings_expert_labels_test_individual_readers.csv')

In [58]:
raw_df.head()

,Image ID,Patient ID,Reader ID,Abnormal,Atelectasis,Cardiomegaly,Effusion,Infiltration,Mass,Nodule,Pneumonia,Pneumothorax,Consolidation,Edema,Emphysema,Fibrosis,Pleural Thickening,Hernia,Other
0,00029560_000.png,29560,4343882583,0,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO
1,00029560_000.png,29560,4343882785,0,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO
2,00029560_000.png,29560,4343880271,0,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO
3,00029560_000.png,29560,4343883996,0,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO
4,00029560_000.png,29560,4343883593,0,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO

In [59]:
# create df from raw_df where 'Abnormal' == 1.
raw_df = raw_df[raw_df['Abnormal'] == 1]
raw_df.shape[0]

2731

In [60]:
df = pd.DataFrame()

# convert values in column 'Atelectasis' to 1 if value is 1, else 0 and store in new column df column 'Atelectasis'

for col in raw_df.columns[4:]:
    df[col] = raw_df[col].apply(lambda x: 1 if x == 'YES' else 0)

In [61]:
for col in raw_df.columns[4:]:
    raw_df[col] = df[col]
df = None

In [62]:
raw_df.drop(columns=['Patient ID', 'Reader ID', 'Abnormal'], inplace=True)

In [63]:

# Group by 'Image ID' and sum the values in each column
raw_df = raw_df.groupby('Image ID').sum()

In [64]:
raw_df.head()

,Atelectasis,Cardiomegaly,Effusion,Infiltration,Mass,Nodule,Pneumonia,Pneumothorax,Consolidation,Edema,Emphysema,Fibrosis,Pleural Thickening,Hernia,Other
Image ID,,,,,,,,,,,,,,,
00000211_006.png,2,5,0,0,0,0,0,0,0,0,0,0,0,0,0
00000211_022.png,3,5,2,1,0,0,0,0,2,0,0,0,1,1,0
00000211_028.png,1,5,0,0,0,2,0,0,1,0,0,0,1,0,0
00000211_029.png,2,5,3,0,0,0,0,0,1,0,0,0,2,0,0
00000218_002.png,2,0,0,2,0,4,0,0,4,1,0,0,0,0,0

In [72]:
import numpy as np
# count rows for each column where value is greater than 0
sums = np.zeros(14)
for i, col in enumerate(raw_df.columns[1:]):
    sums[i] = raw_df[col].apply(lambda x: 1 if x > 0 else 0).sum()

In [73]:
sums

array([208., 332., 248., 207., 301.,  65., 204., 435., 185., 131., 118.,
       295.,  22., 197.])